* {
  margin: 0;
  padding: 0;
}

.landing,
.contents {
  width: 100%;
  height: 110vh;
  color: white;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}
.contents {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 225, 0) 100%
  );
  display: grid;
  align-items: center;
  justify-self: start;
  /* justify-content: space-between; */
  flex-direction: column;
  padding: 0px 40px;
  text-align: left;
}
.word {
  align-self: end;
}

.main__word {
  font-size: 55px;
  transition: 0.4s ease-in;
}
.mainword__break {
  color: #083c63;
}
.button {
  align-self: start;
}
.button > .getstarted__btn {
  margin-top: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: smaller;
  border: none;
  background-color: rgba(180, 27, 27, 0.8);
  color: white;
  transition: 0.4s ease-in;
 border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0.0, 0.0, 0.0, 0.45); 
}


/* Animation control for the intersection observer   */

.not_observe{
  opacity: 0;
  transform: translateY(20px);
}
.observe{
  opacity: 1;
  transform: translateY(0px);
}

/* The end */

@media screen and (max-width: 824px) {
  .contents {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 456px) {
  .contents {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 786px) {
  .main__word {
    font-size: 45px;
  }
}
@media screen and (max-width: 478px) {
  .main__word {
    font-size: 38px;
    text-align: center;
  }
  .button {
    justify-self: center;
  }
  .landing {
    background-position: 60% center;
  }
}

@media screen and (max-width: 424px) {
  .main__word {
    font-size: 35px;
    text-align: center;
  }
  .button {
    justify-self: center;
  }
  .landing {
    background-position: 70% center;
  }
}

@media screen and (max-width: 393px) {
  .main__word {
    font-size: 28px;
  }
  .contents {
    padding: 0px 5px;
  }
  .landing {
    background-position: 70% center;
  }
}
