

.subscription__page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px;
    text-align: center;
}

.subscription__plans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subscription__mainword{
    font-size: 22px;
    /* text-align: left; */
}
.subscription__subheader{
    font-size: 20px;
}
.subscription__header{
    font-size: 30px;
    font-weight: bold;
}


@media (max-width: 820px){
    .subscription__mainword{
        font-size: 18px;
        text-align: center;
    }
    .subscription__header{
        font-size: 25px;
    }   
}