

.subscription__page{
    padding: 56px;
    text-align: center;
}

.subscription__plans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subscription__mainword{
    font-size: 22px;
}
.subscription__subheader{
    font-size: 20px;
}
.subscription__header{
    font-size: 30px;
    font-weight: bold;
}