

.checkout{ 
    min-height: 100vh;
    /* margin-top: 100px; */
    margin-bottom: 104px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.billing__info{
    margin-bottom: 30px;
}
.billingform__input{
    border: 2px solid blue;
    max-width: 736px;
    padding: 32px;
}
form{
    display: flex;
    flex-direction: column;
    /* max-width: 736px; */
}
.top__left{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 46px;
}
.top__left > input{
    margin-right: 20px;
}
.input__andlabel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}
.input__andlabel > label{
    font-size: 16px;
    margin-bottom: 8px;
}
.input__andlabel > input{
    border: 1px solid ;
    height: 50px;
    min-width: 250px;
    width: 100% ;
}
.fornames, .for__address, .for__states{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin-bottom: 32px;
    gap: 20px;
}


@media (max-width: 604px){
    .billingform__input{
        padding: 16px;
    }
    .fornames, .for__address, .for__states{
        flex-wrap: wrap;
    }
    .checkout{ 
       margin: 20px;
    }

}