div.input__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
  }
 div > label,
.keep__signed {
  font-size: 14px;
  color: rgb(124, 124, 124);
  text-transform: capitalize;
  margin-bottom: 5px;
}
 div > input[type="text"],
 div > input[type="email"],
 div > input[type="password"],
 div > textarea,
 form > select {
  height: 40px;
  appearance: none;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
 div > textarea {
  height: 150px;
}
.has__error{
    color: rgba(255, 0, 0, 0.616);
    font-size: 12px;
}