

/* Icon inside the password input */

.password__input{
    position: relative;
    min-height: 88px;
  }

  .password__input > .input__box > input{
  padding-right: 35px !important;

  }
  .password__icon{
    position: absolute;
    top: 40%;
    right:10px;
    z-index: 1;
    object-fit: contain;
    width: 20px;
    background-color: #fff;
  }