.loader {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding: 10px;
  background-color: transparent;
  border-color: white transparent transparent transparent;
  border-width: 2px;
  border-style: solid;
  animation: loader .5s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
    Set the color of the icon
  */
svg path,
svg rect {
  fill: #ff6700;
}
