.register {
  width: 100vw;
  /* height: 100vh; */
  padding: 50px;
  background-color: rgba(182, 220, 255, 0.315);
  display: grid;
  justify-content: center;
  /* margin-top: 50px; */
}
.header__description {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 60px;
  color: rgb(157, 3, 5);
}
.register__header {
  font-size: 25px;
  font-weight: 400;
}
.register__headers {
  margin-bottom: 20px;
}
.little__text {
  font-size: smaller;
  color: rgb(8, 60, 99);
}
.register__form {
  width: 30vw;
  min-width: 350px;
  background-color: #fff;
  padding: 50px 20px;
  justify-self: center;
}
.register__headers {
  text-align: center;
}

.bottom__text {
  text-align: center;
  font-size: smaller;
}

@media screen and (max-width: 375px) {
  .register__form {
    min-width: 300px;
  }
}

@media screen and (min-width: 1025px){
  .register__submit__btn, .not__active, .send__message__btn{
    height: 50px;
  }
}
