.footer {
  /* width: 100%; */
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(8, 60, 99, 0.247);
  color: #083c63;
  text-align: left;
}

.footer__left > img {
  width: 10vw;
  min-width: 65px;
}
.socialmedia__icons{
  display: flex;
}
.socialmedia__icons > li:first-child{
  margin-right: 15px;
}
.footer__middle > ul > li {
  margin-top: 10px;
  text-transform: capitalize;
}
.footer__middle ul > li a {
  text-decoration: none;
  color: inherit;
}
.subscribe__input {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3.subscribe___header {
  margin-bottom: 10px;
  margin-top: 20px;
}

.subscribe__input > input {
  width: 20vw;
  /* min-width: 145px; */
  font-size: 16px;
  /* height: 30px; */
  border-radius: none;
  border: none;
  outline: none;
  padding: 5px;
}
.subscribe__input > button {
  /* max-height: 30px; */
  border: none;
  background-color: #083c63;
  padding: 10px;
  color: white;
  margin-left: -10px;
}
.terms a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}
.terms {
  list-style-type: none;
}
.footer__btn a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 824px) {
  .footer {
    /* width: 100%; */
    padding: 20px;
  }
  .footer__middle > ul > li {
    margin-bottom: 20px;
  }
}
