html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat-Regular.ttf") format("truetype");
}
body {
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: larger; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
