*{

    margin: 0;
    padding: 0;
}

.admin__container{
    display: flex;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
}
.admin__sidenav{
    width: 200px;
    background-color: #1f78cac0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.admin__icon{
    width: 100%;
    /* height: 50px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin__mainsection{
    width: 100%;
    background-color: white;
    padding: 30px 50px;
}
.adminsection__header{
    margin-bottom: 30px;
}
.table__headers{
    position: sticky;
    top: 0px;
    /* inset: 0; */
}
.admin__header{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.admin__requests__count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    box-shadow: 0px 2px 5px rgb(221, 221, 221);
    padding: 20px;
}
.count__values{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #1f78cac0;
}
.count__values > span{
    font-size: 14px;
    color: rgb(131, 130, 130);
}
.count__values.two{
    color: rgb(70, 189, 46);
}
.count__values.four{
    color: rgb(226, 99, 99);
}
.add__neworders{
    background-color: transparent;
    border: 2px solid #1f78cac0;
    padding: 10px 15px;
    border-radius: 20px;
    align-self: center;
}

.listing__table{
    margin: 50px 0px;
    max-height: 600px;
    overflow: auto;
    /* margin-bottom:150px; */
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr > th{
    text-align: left;
    text-transform: uppercase;
    font-size: smaller;
    padding: 15px 5px;
    background-color: rgb(233, 233, 233);
    color: #646464;
}
tr.for__details{
    width: 100%;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(207, 207, 207);
    align-items: center;
    text-align: left; 
}
tr.for__details > td{
    padding: 15px 5px;
    text-align: left; 

}
tr.for__details {
    padding: 15px 5px;
    /* text-align: left;  */
    /* display: flex; */

}
tr > td#status{
    color: rgb(27, 206, 116);
    font-weight: 600;
    /* background-color: rgba(129, 252, 140, 0.404); */
    align-self: center;
}
